   <section class="cmt-row broken-section clearfix">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-7 col-xl-9">
                        <div class="col-bg-img-six cmt-col-bgimage-yes cmt-bg cmt-left-span cmt-bgcolor-grey spacing-9">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <!-- section title -->
                                <div class="section-title  clearfix">
                                    <div class="title-header">
                                        <h2 class="title">People aks these question over and over again</h2>
                                    </div>
                                </div><!-- section title end -->
                                <!-- acadion -->
                                <div class="accordion mt-30 mb-25">
                                    <!-- toggle -->
                                    <div class="toggle cmt-style-classic style1 box-shadow">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">We Are Passionate</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <img class="img-fluid" src="images/blog/03.jpg" alt="image">
                                                </div>
                                                <div class="col-lg-8">
                                                    <p>It showed a lady fitted out with a fur hat and fur boa who sat  upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle cmt-style-classic style1 box-shadow">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Honest and Dependable</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <img class="img-fluid" src="images/blog/03.jpg" alt="image">
                                                </div>
                                                <div class="col-lg-8">
                                                    <p>It showed a lady fitted out with a fur hat and fur boa who sat  upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div><!-- acadion end-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-3">
                        <div class="col-bg-img-seven cmt-col-bgimage-yes cmt-bg cmt-right-span spacing-10">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                            </div>
                            <div class="layer-content">
                                <div class="box-shadow cmt-bgcolor-white spacing-11">
                                    <!-- section title -->
                                    <div class="section-title  clearfix">
                                        <div class="title-header">
                                            <h2 class="title">Easy way to collaborate our company</h2>
                                        </div>
                                    </div><!-- section title end -->
                                    <p>We have a long and proud history givin emphasis to environment social and economic outcomes </p>
                                    <div class="row mt-25">
                                        <div class="col-lg-12 col-md-8">
                                            <!-- cmt-progress-bar -->
                                            <div class="cmt-progress-bar" data-percent="92%">
                                                <div class="progressbar-title">Industrial</div>
                                                <div class="progress-bar-inner">
                                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                </div>
                                                <div class="progress-bar-percent" data-percentage="92"></div>
                                            </div><!-- cmt-progress-bar end -->
                                            <!-- cmt-progress-bar -->
                                            <div class="cmt-progress-bar clearfix" data-percent="80%">
                                                <div class="progressbar-title">Construction</div>
                                                <div class="progress-bar-inner">
                                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                </div>
                                                <div class="progress-bar-percent" data-percentage="80"></div>
                                            </div><!-- cmt-progress-bar end -->
                                            <!-- cmt-progress-bar -->
                                            <div class="cmt-progress-bar clearfix" data-percent="92%">
                                                <div class="progressbar-title">Remodeling</div>
                                                <div class="progress-bar-inner">
                                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                </div>
                                                <div class="progress-bar-percent" data-percentage="92"></div>
                                            </div><!-- cmt-progress-bar end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--contact-text-section-->













        <section class="cmt-row contact-text-section cmt-bgcolor-darkgrey cmt-bg cmt-bgimage-yes bg-img8 clearfix">
            <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
            <div class="container">
                <div class="row"><!-- row -->
                    <div class="col-1 col-md-2 col-lg-3"></div>
                    <div class="col-10 col-md-8 col-lg-6">
                        <!-- section title -->
                        <div class="section-title with-desc text-center clearfix">
                            <div class="title-header">
                                <h5>CONTACT DETAILS</h5>
                                <h2 class="title">How can we help you?</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-1 col-md-2 col-lg-3"></div>
                </div><!-- row end -->
                <!-- row -->
                <div class="row">
                </div>
            </div>
        </section>
        <!--contact-text-section end-->
        <!--contact-section-->
        <section class="cmt-row contact-section clearfix">
            <div class="container">
                <div class="row no-gutters mt_200 res-991-mt_30"><!-- row -->
                    <div class="col-md-8">
                        <div class="spacing-5 cmt-bgcolor-white cmt-bg col-bg-img-two cmt-col-bgimage-yes box-shadow">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h5>FREE CONSULTATION</h5>
                                        <h2 class="title">Get a free quote</h2>
                                    </div>
                                </div><!-- section title end -->
                                <form id="cmt-quote-form" class="row cmt-quote-form clearfix" method="post" action="#">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input name="name" type="text" class="form-control" value="" placeholder="Full Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input name="address" type="text" value="" placeholder="Email Address" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input name="phone" type="text" value="" placeholder="Phone Number" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input name="code" type="text" value="" placeholder="Zip Code" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="">Services</option>
                                                <option value="">Reconstruction</option>
                                                <option value="">General</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" rows="5" placeholder="Message" class="form-control" required="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group text-center">
                                            <button type="submit" id="submit" class="cmt-btn cmt-btn-size-md cmt-btn-bgcolor-skincolor w-100" value="">
                                                GET A FREE QUOTE
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cmt-bg col-bg-img-eight cmt-col-bgimage-yes md-mr-15 lg-mr-15">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                            </div>
                            <div class="layer-content">
                                <div class="spacing-6">
                                    <!-- row -->
                                    <div class="row no-gutters">
                                        <div class="col-md-10 col-lg-8 ml_100 res-991-ml-0">
                                            <!--featured-icon-box-->
                                            <div class="featured-icon-box text-center center-icon cmt-bgcolor-skincolor box-shadow">
                                                <div class="featured-icon"><!--featured-icon-->
                                                    <div class="cmt-icon cmt-icon_element-color-white cmt-icon_element-size-md">
                                                        <i class="flaticon flaticon-placeholder"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content"><!--featured-content-->
                                                    <div class="featured-title">
                                                        <h5><a href="#">Visit Our Branches</a></h5>
                                                    </div>
                                                    <div class="featured-desc"><!--featured-desc-->
                                                        <p>Themeforest, Envanto HQ 24 Fifth st., Los Angeles, USA</p>
                                                    </div>
                                                </div>
                                            </div><!--featured-icon-box-->
                                        </div>
                                    </div><!-- row end -->
                                    <!-- row -->
                                    <div class="row no-gutters">
                                        <div class="col-md-10 col-lg-8">
                                            <!--featured-icon-box-->
                                            <div class="featured-icon-box text-center center-icon cmt-bgcolor-grey box-shadow">
                                                <div class="featured-icon"><!--featured-icon-->
                                                    <div class="cmt-icon cmt-icon_element-color-darkgrey cmt-icon_element-size-md">
                                                        <i class="flaticon flaticon-placeholder"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content"><!--featured-content-->
                                                    <div class="featured-title">
                                                        <h5><a href="#">Visit Our Branches</a></h5>
                                                    </div>
                                                    <div class="featured-desc"><!--featured-desc-->
                                                        <p>Themeforest, Envanto HQ 24 Fifth st., Los Angeles, USA</p>
                                                    </div>
                                                </div>
                                            </div><!--featured-icon-box-->
                                        </div>
                                    </div><!-- row end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--contact-section end-->














   <!--team-section-->
        <section class="cmt-row team-section style2 clearfix">
            <div class="container">
                <div class="row"><!-- row -->
                    <div class="col-1 col-md-2 col-lg-3"></div>
                    <div class="col-10 col-md-8 col-lg-6">
                        <!-- section title -->
                        <div class="section-title with-desc text-center clearfix">
                            <div class="title-header">
                                <h5>WORKING WITH EXCELLENT</h5>
                                <h2 class="title">Our great team</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-1 col-md-2 col-lg-3"></div>
                </div><!-- row end -->
                <!-- row -->
                <div class="row">
                    <div class="team-slide owl-carousel owl-theme owl-loaded" data-item="4" data-nav="false" data-dots="false" data-auto="false">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-team style2">
                            <!-- featured-thumbnail -->
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="images/team-member/team-img01.jpg" alt="image">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div><!-- featured-thumbnail end-->
                                
                            </div>
                            <div class="featured-content text-center">
                                <div class="cmt-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a href="https://www.facebook.com/pages/Sri-Ramakrishna-Seva-Trust/1152429224882758"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-teitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li class="social-google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Joya Mitchel</a></h5>
                                </div>
                                <div class="category">
                                    <p>Installation Civil Enginner</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-team style2">
                            <!-- featured-thumbnail -->
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="images/team-member/team-img02.jpg" alt="image">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div><!-- featured-thumbnail end-->
                            </div>
                            <div class="featured-content text-center">
                                <div class="cmt-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-teitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li class="social-google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Dwayn Royes</a></h5>
                                </div>
                                <div class="category">
                                    <p>Installation Civil Enginner</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-team style2">
                            <!-- featured-thumbnail -->
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="images/team-member/team-img03.jpg" alt="image">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div><!-- featured-thumbnail end-->
                            </div>
                            <div class="featured-content text-center">
                                <div class="cmt-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-teitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li class="social-google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured-title">
                                    <h5><a href="team-details.html">John Martin</a></h5>
                                </div>
                                <div class="category">
                                    <p>Installation Civil Enginner</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-team style2">
                            <!-- featured-thumbnail -->
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="images/team-member/team-img04.jpg" alt="image">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div><!-- featured-thumbnail end-->
                            </div>
                            <div class="featured-content text-center">
                                <div class="cmt-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-teitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li class="social-google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Smitherford</a></h5>
                                </div>
                                <div class="category">
                                    <p>Installation Civil Enginner</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-team style2">
                            <!-- featured-thumbnail -->
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="images/team-member/team-img05.jpg" alt="image">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div><!-- featured-thumbnail end-->
                            </div>
                            <div class="featured-content text-center">
                                <div class="cmt-social-links-wrapper">
                                    <ul class="social-icons list-inline">
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-teitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li class="social-google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured-title">
                                    <h5><a href="team-details.html">Jenifer hotche</a></h5>
                                </div>
                                <div class="category">
                                    <p>Installation Civil Enginner</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                </div>
            </div>
        </section>
        <!--team-section end-->