


                    <li data-index="rs-2" data-transition="slotslide-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                        <img src="images/slides/slider-mainbg-002.jpg" alt="" title="slider-mainbg-002" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper cmt-bgcolor-skincolor" 

                            id="slide-2-layer-1" 
                            data-x="['left','left','left','center']" data-hoffset="['53','20','20','-120']" 
                            data-y="['top','top','middle','middle']" data-voffset="['189','174','-133','-85']" 

                            data-width="3"
                            data-height="['25','25','20','20']"
                            data-whitespace="nowrap"
                            data-visibility="['on','on','off','off']"
                            data-type="shape" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1560,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            > 
                        </div>

                        <!-- layer-2 -->
                        <div class="tp-caption cmt-textcolor-skincolor" 

                            id="slide-2-layer-2" 
                            data-x="['left','left','left','center']" data-hoffset="['67','30','30','5']" 
                            data-y="['top','top','middle','middle']" data-voffset="['189','178','-133','-85']"

                            data-fontsize="['18','18','16','16']"
                            data-lineheight="['23','23','20','18']"
                            data-fontweight="['400','400','400','400']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]">WE ARE EXPERIENCE COMPANY
                        </div>

                        <!-- layer-3 -->
                        <div class="tp-caption head-font" 

                            id="slide-2-layer-3" 
                            data-x="['left','left','left','center']" data-hoffset="['47','15','15','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['235','219','-70','-31']"

                            data-fontsize="['70','70','50','40']"
                            data-lineheight="['75','75','60','50']"
                            data-fontweight="['900','900','900','900']"
                            data-color="['rgb(8, 21, 40)','rgb(8, 21, 40)','rgb(8, 21, 40)','rgb(8, 21, 40)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]">Build A Better
                        </div>

                        <!-- layer-4 -->
                        <div class="tp-caption head-font" 

                            id="slide-2-layer-4" 
                            data-x="['left','left','left','center']" data-hoffset="['47','15','15','0']" 
                            data-y="['top','top','middle','middle']" data-voffset="['309','292','-20','10']"

                            data-fontsize="['70','70','50','40']"
                            data-lineheight="['75','75','60','50']"
                            data-fontweight="['900','900','900','900']"
                            data-color="['rgb(8, 21, 40)','rgb(8, 21, 40)','rgb(8, 21, 40)','rgb(8, 21, 40)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"> Modern Company 
                        </div>

                        <!-- layer-5 -->
                        <div class="tp-caption" 

                            id="slide-2-layer-5" 
                            data-x="['left','left','left','right']" data-hoffset="['53','20','20','-500']" 
                            data-y="['top','top','middle','middle']" data-voffset="['394','385','30','25']"

                            data-fontsize="['17','17','14','12']"
                            data-lineheight="['27','27','20','18']"
                            data-fontweight="['300','300','300','300']"
                            data-color="['rgb(74, 74, 74)','rgb(74, 74, 74)','rgb(74, 74, 74)','rgb(74, 74, 74)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":1560,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]">We offer the most complete house renovating services in the country,<br> from kitchen design to bathroom remodeling 
                        </div>

                        <!-- layer-6 -->
                        <a class="tp-caption cmt-btn cmt-btn-style-border cmt-btn-color-darkgrey cmt-btn-size-sm" href="#" target="_self" 

                            id="slide-2-layer-6" 
                            data-x="['left','left','left','center']" data-hoffset="['53','20','20','-75']" 
                            data-y="['top','top','middle','middle']" data-voffset="['488','476','94','70']"

                            data-fontsize="['16','15','12','11']"
                            data-lineheight="['18','18','12','11']"
                            data-fontweight="['700','700','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-actions=''
                            data-responsive_offset="on"
                            data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[14,14,10,10]"
                            data-paddingright="[30,30,25,20]"
                            data-paddingbottom="[10,10,9,9]"
                            data-paddingleft="[30,30,25,20]">Our Portfolio
                        </a>

                        <!-- layer-7 -->
                        <a class="tp-caption cmt-btn cmt-btn-style-fill cmt-btn-bgcolor-skincolor cmt-btn-size-sm" href="#" target="_self" 

                            id="slide-2-layer-7" 
                            data-x="['left','left','left','center']" data-hoffset="['244','200','170','65']" 
                            data-y="['top','top','middle','middle']" data-voffset="['488','476','94','70']"

                            data-fontsize="['16','15','12','11']"
                            data-lineheight="['18','18','12','11']"
                            data-fontweight="['700','700','700','700']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-actions=''
                            data-responsive_offset="on"
                            data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[14,14,10,10]"
                            data-paddingright="[30,30,25,20]"
                            data-paddingbottom="[10,10,9,9]"
                            data-paddingleft="[30,30,25,20]">See How It Work
                        </a>

                    </li>   






















   <section class="cmt-row fid-left-section cmt-bgcolor-darkgrey cmt-bg cmt-bgimage-yes bg-img5 clearfix">
            <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
            <div class="container">
                <div class="row"><!-- row -->
                    <div class="col-md-2 col-lg-3"></div>
                    <div class="col-sm-12 col-md-8 col-lg-6">
                        <!-- section title -->
                        <div class="section-title with-desc text-center clearfix">
                            <div class="title-header">
                                <h5>WHY CHOOSE US</h5>
                                <h2 class="title">Easy way to collaborate our company</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-md-2 col-lg-3"></div>
                </div><!-- row end-->
                <!-- row-->
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <!--cmt-fid-->
                        <div class="cmt-fid inside cmt-fid-view-lefticon style2 mb-0">
                            <div class="cmt-fid-left"><!--cmt-fid-left-->
                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                    <i class="flaticon flaticon-builder-1"></i>
                                </div>
                                <div class="cmt-fid-contents text-left"><!--cmt-fid-contents-->
                                    <h4 class="cmt-fid-inner">
                                        <span   data-appear-animation = "animateDigits"
                                        data-from             = "0"
                                        data-to               = "478"
                                        data-interval         = "20"
                                        data-before           = ""
                                        data-before-style     = "sup"
                                        data-after            = ""
                                        data-after-style      = "sub"
                                    >478</span>
                                    </h4>
                                    <h3 class="cmt-fid-title">Happy Customers</h3><!--cmt-fid-title-->
                                </div>
                            </div>
                        </div><!-- cmt-fid end-->
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <!--cmt-fid-->
                        <div class="cmt-fid inside cmt-fid-view-lefticon style2 mb-0">
                            <div class="cmt-fid-left"><!--cmt-fid-left-->
                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                    <i class="flaticon flaticon-sketch"></i>
                                </div>
                                <div class="cmt-fid-contents text-left"><!--cmt-fid-contents-->
                                    <h4 class="cmt-fid-inner">
                                        <span   data-appear-animation = "animateDigits"
                                        data-from             = "0"
                                        data-to               = "1432"
                                        data-interval         = "20"
                                        data-before           = ""
                                        data-before-style     = "sup"
                                        data-after            = ""
                                        data-after-style      = "sub"
                                    >1432</span>
                                    </h4>
                                    <h3 class="cmt-fid-title">Happy Customers</h3><!--cmt-fid-title-->
                                </div>
                            </div>
                        </div><!-- cmt-fid end-->
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <!--cmt-fid-->
                        <div class="cmt-fid inside cmt-fid-view-lefticon style2 mb-0">
                            <div class="cmt-fid-left"><!--cmt-fid-left-->
                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                    <i class="flaticon flaticon-construction-worker"></i>
                                </div>
                                <div class="cmt-fid-contents text-left"><!--cmt-fid-contents-->
                                    <h4 class="cmt-fid-inner">
                                        <span   data-appear-animation = "animateDigits"
                                        data-from             = "0"
                                        data-to               = "785"
                                        data-interval         = "20"
                                        data-before           = ""
                                        data-before-style     = "sup"
                                        data-after            = ""
                                        data-after-style      = "sub"
                                    >785</span>
                                    </h4>
                                    <h3 class="cmt-fid-title">Happy Customers</h3><!--cmt-fid-title-->
                                </div>
                            </div>
                        </div><!-- cmt-fid end-->
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <!--cmt-fid-->
                        <div class="cmt-fid inside cmt-fid-view-lefticon style2 mb-0">
                            <div class="cmt-fid-left"><!--cmt-fid-left-->
                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                    <i class="flaticon flaticon-idea"></i>
                                </div>
                                <div class="cmt-fid-contents text-left"><!--cmt-fid-contents-->
                                    <h4 class="cmt-fid-inner">
                                        <span   data-appear-animation = "animateDigits"
                                        data-from             = "0"
                                        data-to               = "478"
                                        data-interval         = "20"
                                        data-before           = ""
                                        data-before-style     = "sup"
                                        data-after            = ""
                                        data-after-style      = "sub"
                                    >547</span>
                                    </h4>
                                    <h3 class="cmt-fid-title">Happy Customers</h3><!--cmt-fid-title-->
                                </div>
                            </div>
                        </div><!-- cmt-fid end-->
                    </div>
                </div><!-- row end-->
            </div>
        </section>








          <!--service-section-->
        <section class="cmt-row service-section style2 bg-img6 clearfix">
            <div class="container">
                <div class="row"><!-- row -->
                    <div class="col-md-2 col-lg-3"></div>
                    <div class="col-sm-12 col-md-8 col-lg-6">
                        <!-- section title -->
                        <div class="section-title with-desc text-center clearfix">
                            <div class="title-header">
                                <h5>WORKING WITH EXCELLENT</h5>
                                <h2 class="title">Our special services</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-md-2 col-lg-3"></div>
                </div><!-- row end -->
                <div class="row"><!-- row -->
                    <!-- services-slide -->
                    <div class="services-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                        <!--featured-imagebox-->
                        <div class="featured-imagebox-services">
                            <div class="featured-thumbnail box-shadow">
                                <img class="img-fluid" src="images/services/01.jpg" alt="">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div>
                            </div>
                            <div class="featured-content featured-content-services box-shadow">
                                <div class="featured-icon-box">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-house"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content-services">
                                    <div class="featured-title">
                                        <h5><a href="apartment-design.html">Apartment Design</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>By dealing with data, select to ols that help you utomate tim cons sses.</p>
                                    </div>
                                </div>
                                <div class="services-icon-box">
                                    <a href="apartment-design.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!--featured-imagebox-->
                        <div class="featured-imagebox-services">
                            <div class="featured-thumbnail box-shadow">
                                <img class="img-fluid" src="images/services/02.jpg" alt="">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div>
                            </div>
                            <div class="featured-content featured-content-services box-shadow">
                                <div class="featured-icon-box">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-sketch"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content-services">
                                    <div class="featured-title">
                                        <h5><a href="house-planning.html">House Planning</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>By dealing with data, select to ols that help you utomate tim cons sses.</p>
                                    </div>
                                </div>
                                <div class="services-icon-box">
                                    <a href="house-planning.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!--featured-imagebox-->
                        <div class="featured-imagebox-services">
                            <div class="featured-thumbnail box-shadow">
                                <img class="img-fluid" src="images/services/03.jpg" alt="">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div>
                            </div>
                            <div class="featured-content featured-content-services box-shadow">
                                <div class="featured-icon-box">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-wrench"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content-services">
                                    <div class="featured-title">
                                        <h5><a href="repair-welding.html">Repair Welding</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>By dealing with data, select to ols that help you utomate tim cons sses.</p>
                                    </div>
                                </div>
                                <div class="services-icon-box">
                                    <a href="repair-welding.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!--featured-imagebox-->
                        <div class="featured-imagebox-services">
                            <div class="featured-thumbnail box-shadow">
                                <img class="img-fluid" src="images/services/01.jpg" alt="">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div>
                            </div>
                            <div class="featured-content featured-content-services box-shadow">
                                <div class="featured-icon-box">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-gear"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content-services">
                                    <div class="featured-title">
                                        <h5><a href="expert-mechanical.html">Expert Mechanical</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>By dealing with data, select to ols that help you utomate tim cons sses.</p>
                                    </div>
                                </div>
                                <div class="services-icon-box">
                                    <a href="expert-mechanical.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!--featured-imagebox-->
                        <div class="featured-imagebox-services">
                            <div class="featured-thumbnail box-shadow">
                                <img class="img-fluid" src="images/services/02.jpg" alt="">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div>
                            </div>
                            <div class="featured-content featured-content-services box-shadow">
                                <div class="featured-icon-box">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-idea"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content-services">
                                    <div class="featured-title">
                                        <h5><a href="management.html">Management</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>By dealing with data, select to ols that help you utomate tim cons sses.</p>
                                    </div>
                                </div>
                                <div class="services-icon-box">
                                    <a href="management.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!--featured-imagebox-->
                        <div class="featured-imagebox-services">
                            <div class="featured-thumbnail box-shadow">
                                <img class="img-fluid" src="images/services/03.jpg" alt="">
                                <div class="cmt-box-view-overlay"><!-- cmt-box-view-overlay -->
                                </div>
                            </div>
                            <div class="featured-content featured-content-services box-shadow">
                                <div class="featured-icon-box">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-helmet"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content-services">
                                    <div class="featured-title">
                                        <h5><a href="general-contracting.html">General Contracting</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>By dealing with data, select to ols that help you utomate tim cons sses.</p>
                                    </div>
                                </div>
                                <div class="services-icon-box">
                                    <a href="general-contracting-2.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--service-section end-->







         <!--row-title-section-->
        <section class="cmt-row row-title-section style2 bg-img7 cmt-bgcolor-skincolor clearfix">
            <div class="container">
                <div class="row"><!-- row -->
                    <div class="col-sm-12 col-md-12 col-lg-7">
                        <div class="">
                            <!-- section title -->
                            <div class="section-title row-title clearfix">
                                <div class="title-header">
                                    <h2 class="title">Creating Lasting Impressions To Through Interior Design</h2>
                                </div>
                                <div class="title-desc pr-30 res-991-pr-0">
                                    Our projects are fully tested, background checked, license validated and insured with a 100% satisfaction guarantee.
                                </div>
                            </div><!-- section title end -->
                            <div class="cmt-video-icon cmt-left-video-icon ttm_prettyphoto mt-35 res-991-mt-30">
                                <a class="cmt-icon cmt-icon_element-fill cmt-icon_element-background-color-white cmt-icon_element-size-md cmt-icon_element-style-round ttm_prettyphoto mb-0" href="https://youtu.be/7e90gBu4pas">
                                    <i class="fa fa-play cmt-textcolor-darkgrey"></i>
                                </a>
                                <a href="https://youtu.be/7e90gBu4pas" class="ml-15 ttm_prettyphoto">See Our Video</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div class="box-shadow spacing-4 cmt-bgcolor-white">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                    <h4 class="title">Why people are choose our best constuction</h4>
                                </div>
                            </div><!-- section title end -->
                            <div class="row no-gutters">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Expert &amp; Profesional</span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content"> 24x7 Emergency</span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">High Quality Work</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Expert &amp; Profesional</span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content"> 24x7 Emergency</span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content"> High Quality Work</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row no-gutters pt-25">
                                <div class="col-md-6 col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box left-icon style7">
                                        <div class="featured-icon"><!--featured-icon-->
                                            <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                                                <i class="flaticon flaticon-phone-call"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content"><!--featured-content-->
                                            <div class="featured-title">
                                                <h5>Toll Free NO.</h5>
                                            </div>
                                            <div class="featured-desc"><!--featured-desc-->
                                                <p>+844 1800 33 555</p>
                                            </div>
                                        </div><!--featured-icon-box-->
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box left-icon style7">
                                        <div class="featured-icon"><!--featured-icon-->
                                            <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                                                <i class="flaticon flaticon-envelope"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content"><!--featured-content-->
                                            <div class="featured-title">
                                                <h5>Email</h5>
                                            </div>
                                            <div class="featured-desc"><!--featured-desc-->
                                                <p><a href="mailto:srst1972@gmail.com">srst1972@gmail.com</a></p>
                                            </div>
                                        </div><!--featured-icon-box-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--row-title-section END-->







  <section class="cmt-row post-section style2 clearfix">
            <div class="container">
                <div class="row"><!-- row -->
                    <div class="col-md-2 col-lg-3"></div>
                    <div class="col-sm-12 col-md-8 col-lg-6">
                        <!-- section title -->
                        <div class="section-title with-desc text-center clearfix">
                            <div class="title-header">
                                <h5>WORKING WITH EXCELLENT</h5>
                                <h2 class="title">Latest news &amp; blog</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-md-2 col-lg-3"></div>
                </div><!-- row end -->
                <div class="row">
                    <div class="post-slide owl-carousel owl-theme owl-loaded" data-item="3" data-nav="false" data-dots="false" data-auto="false">
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post top-image style2 box-shadow">
                            <div class="featured-thumbnail"><!-- featured-image -->
                                <img class="img-fluid" src="images/blog/09.jpg" alt="">
                                <div class="cmt-box-post-date"><!-- cmt-box-post-date -->
                                    <span class="cmt-entry-date">
                                        <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">17<span class="entry-month entry-year">APR</span></time>
                                    </span>
                                </div><!-- cmt-box-post-date end -->
                            </div>
                            <div class="featured-content text-left box-shadow"><!-- featured-content -->
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">The 9 Best Construction Guides of 2019</a></h5>
                                </div>
                                <div class="post-meta pb-15"><!-- post-meta -->
                                    <span class="cmt-meta-line comments-link"><i class="fa fa-comments cmt-textcolor-skincolor"></i> Comments</span>
                                    <span class="cmt-meta-line byline"><i class="fa fa-user cmt-textcolor-skincolor"></i> Alex</span>
                                </div><!-- post-meta end -->
                                 <div class="post-desc featured-desc">
                                    <p class="pt-12">Lorem ipsum dolo hooljlj rt amet, csectetur adipimag A ms pum ciis natoque peus loream ipsum siple.</p>
                                </div>
                                <a class="cmt-btn cmt-btn-size-sm cmt-icon-btn-right cmt-btn-color-darkgrey btn-inline" href="#">Read More<i class="ti ti-angle-right"></i></a>
                            </div><!-- featured-content end -->
                        </div><!-- featured-imagebox-post end -->
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post top-image style2 box-shadow">
                            <div class="featured-thumbnail"><!-- featured-image -->
                                <img class="img-fluid" src="images/blog/04.jpg" alt="">
                                <div class="cmt-box-post-date"><!-- cmt-box-post-date -->
                                    <span class="cmt-entry-date">
                                        <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">17<span class="entry-month entry-year">APR</span></time>
                                    </span>
                                </div><!-- cmt-box-post-date end -->
                            </div>
                            <div class="featured-content text-left box-shadow"><!-- featured-content -->
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">Guide to Remodeling your building </a></h5>
                                </div>
                                <div class="post-meta pb-15"><!-- post-meta -->
                                    <span class="cmt-meta-line comments-link"><i class="fa fa-comments cmt-textcolor-skincolor"></i> Comments</span>
                                    <span class="cmt-meta-line byline"><i class="fa fa-user cmt-textcolor-skincolor"></i> Alex</span>
                                </div><!-- post-meta end -->
                                <div class="post-desc featured-desc">
                                    <p class="pt-12">Lorem ipsum dolo hooljlj rt amet, csectetur adipimag A ms pum ciis natoque peus loream ipsum siple.</p>
                                </div>
                                <a class="cmt-btn cmt-btn-size-sm cmt-icon-btn-right cmt-btn-color-darkgrey btn-inline" href="#">Read More<i class="ti ti-angle-right"></i></a>
                            </div><!-- featured-content end -->
                        </div><!-- featured-imagebox-post end -->
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post top-image style2 box-shadow">
                            <div class="featured-thumbnail"><!-- featured-image -->
                                <img class="img-fluid" src="images/blog/05.jpg" alt="">
                                <div class="cmt-box-post-date"><!-- cmt-box-post-date -->
                                    <span class="cmt-entry-date">
                                        <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">17<span class="entry-month entry-year">APR</span></time>
                                    </span>
                                </div><!-- cmt-box-post-date end -->
                            </div>
                            <div class="featured-content text-left box-shadow"><!-- featured-content -->
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">Tips : Builders needs Liability insurance</a></h5>
                                </div>
                                <div class="post-meta pb-15"><!-- post-meta -->
                                    <span class="cmt-meta-line comments-link"><i class="fa fa-comments cmt-textcolor-skincolor"></i> Comments</span>
                                    <span class="cmt-meta-line byline"><i class="fa fa-user cmt-textcolor-skincolor"></i> Alex</span>
                                </div><!-- post-meta end -->
                                <div class="post-desc featured-desc">
                                    <p class="pt-12">Lorem ipsum dolo hooljlj rt amet, csectetur adipimag A ms pum ciis natoque peus loream ipsum siple.</p>
                                </div>
                                <a class="cmt-btn cmt-btn-size-sm cmt-icon-btn-right cmt-btn-color-darkgrey btn-inline" href="#">Read More<i class="ti ti-angle-right"></i></a>
                            </div><!-- featured-content end -->
                        </div><!-- featured-imagebox-post end -->
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post top-image style2 box-shadow">
                            <div class="featured-thumbnail"><!-- featured-image -->
                                <img class="img-fluid" src="images/blog/06.jpg" alt="">
                                <div class="cmt-box-post-date"><!-- cmt-box-post-date -->
                                    <span class="cmt-entry-date">
                                        <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">17<span class="entry-month entry-year">APR</span></time>
                                    </span>
                                </div><!-- cmt-box-post-date end -->
                            </div>
                            <div class="featured-content text-left box-shadow"><!-- featured-content -->
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">Improve workflow with Agile Construction</a></h5>
                                </div>
                                <div class="post-meta pb-15"><!-- post-meta -->
                                    <span class="cmt-meta-line comments-link"><i class="fa fa-comments cmt-textcolor-skincolor"></i> Comments</span>
                                    <span class="cmt-meta-line byline"><i class="fa fa-user cmt-textcolor-skincolor"></i> Alex</span>
                                </div><!-- post-meta end -->
                                <div class="post-desc featured-desc">
                                    <p class="pt-12">Lorem ipsum dolo hooljlj rt amet, csectetur adipimag A ms pum ciis natoque peus loream ipsum siple.</p>
                                </div>
                                <a class="cmt-btn cmt-btn-size-sm cmt-icon-btn-right cmt-btn-color-darkgrey btn-inline" href="#">Read More<i class="ti ti-angle-right"></i></a>
                            </div><!-- featured-content end -->
                        </div><!-- featured-imagebox-post end -->
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post top-image style2 box-shadow">
                            <div class="featured-thumbnail"><!-- featured-image -->
                                <img class="img-fluid" src="images/blog/07.jpg" alt="">
                                <div class="cmt-box-post-date"><!-- cmt-box-post-date -->
                                    <span class="cmt-entry-date">
                                        <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">17<span class="entry-month entry-year">APR</span></time>
                                    </span>
                                </div><!-- cmt-box-post-date end -->
                            </div>
                            <div class="featured-content text-left box-shadow"><!-- featured-content -->
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">How Is 3D printing affecting the construction?</a></h5>
                                </div>
                                <div class="post-meta pb-15"><!-- post-meta -->
                                    <span class="cmt-meta-line comments-link"><i class="fa fa-comments cmt-textcolor-skincolor"></i> Comments</span>
                                    <span class="cmt-meta-line byline"><i class="fa fa-user cmt-textcolor-skincolor"></i> Alex</span>
                                </div><!-- post-meta end -->
                                <div class="post-desc featured-desc">
                                    <p class="pt-12">Lorem ipsum dolo hooljlj rt amet, csectetur adipimag A ms pum ciis natoque peus loream ipsum siple.</p>
                                </div>
                                <a class="cmt-btn cmt-btn-size-sm cmt-icon-btn-right cmt-btn-color-darkgrey btn-inline" href="#">Read More<i class="ti ti-angle-right"></i></a>
                            </div><!-- featured-content end -->
                        </div><!-- featured-imagebox-post end -->
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post top-image style2 box-shadow">
                            <div class="featured-thumbnail"><!-- featured-image -->
                                <img class="img-fluid" src="images/blog/08.jpg" alt="">
                                <div class="cmt-box-post-date"><!-- cmt-box-post-date -->
                                    <span class="cmt-entry-date">
                                        <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">17<span class="entry-month entry-year">APR</span></time>
                                    </span>
                                </div><!-- cmt-box-post-date end -->
                            </div>
                            <div class="featured-content text-left box-shadow"><!-- featured-content -->
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">What are the benefits of LEED certification?</a></h5>
                                </div>
                                <div class="post-meta pb-15"><!-- post-meta -->
                                    <span class="cmt-meta-line comments-link"><i class="fa fa-comments cmt-textcolor-skincolor"></i> Comments</span>
                                    <span class="cmt-meta-line byline"><i class="fa fa-user cmt-textcolor-skincolor"></i> Alex</span>
                                </div><!-- post-meta end -->
                                <div class="post-desc featured-desc">
                                    <p class="pt-12">Lorem ipsum dolo hooljlj rt amet, csectetur adipimag A ms pum ciis natoque peus loream ipsum siple.</p>
                                </div>
                                <a class="cmt-btn cmt-btn-size-sm cmt-icon-btn-right cmt-btn-color-darkgrey btn-inline" href="#">Read More<i class="ti ti-angle-right"></i></a>
                            </div><!-- featured-content end -->
                        </div><!-- featured-imagebox-post end -->
                    </div>
                </div>
            </div>
        </section>
        <!--post-section end-->