  <!--site-main start-->
    <div class="site-main">
        <div class="sidebar cmt-sidebar-left cmt-bgcolor-grey clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12 content-area order-1 order-lg-2">
                        <!-- cmt-service-single-content-are -->
                        <div class="cmt-service-single-content-area">
                            <div class="post-featured-wrapper mb-40">
                                <div class="post-featured">
                                    <img class="img-fluid" src="images/blog/blog-06.jpg" alt="">
                                </div>
                            </div>
                            <div class="cmt-service-description">
                                <h4 class="mb-10">Programmes</h4>
                                <div class="mb-30">
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Utenim ad minim veniam quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua. nisi ut aliquip ex ea commodo consequat. Duis aute irure dolore.</p>
                                </div>
                                <h4 class="mb-10">Key Benefits</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-35">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,&nbsp; dolore magnam aliquam quaerat voluptatem.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="cmt-list cmt-list-style-icon mb-35">
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">The Easiest Way To Get What Need </span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Need It Fast? We Can Help.</span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">We work to reduce air emissions</span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Personalized Industrial Help</span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">The Easiest Way To Get What Need </span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Need It Fast? We Can Help.</span></li>
                                        </ul>
                                    </div>
                                </div>
                             
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="cmt-list cmt-list-style-icon mb-35">
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">The Easiest Way To Get What Need </span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Need It Fast? We Can Help.</span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">We work to reduce air emissions</span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Personalized Industrial Help</span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">The Easiest Way To Get What Need </span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Need It Fast? We Can Help.</span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">We work to reduce air emissions</span></li>
                                            <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">We work to reduce air emissions</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="ttm_single_image-wrapper mb-35">
                                            <img class="img-fluid" src="images/blog/blog-05.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- cmt-service-single-content-are end -->
                    </div>
            <!--         <div class="col-lg-4 widget-area sidebar-left order-2 order-lg-1">
                        <aside class="widget widget-search">
                            <h3 class="widget-title">Search</h3>
                            <form role="search" method="get" class="search-form" action="#">
                                <label>
                                <span class="screen-reader-text">Search for:</span>
                                <i class="fa fa-search"></i>
                                <input type="search" class="input-text" placeholder="Search …" value="" name="s">
                                </label>
                            </form>
                        </aside>
                        <aside class="widget widget-nav-menu">
                            <h3 class="widget-title">Other Services</h3>
                            <ul class="widget-menu">
                                <li>
                                    <i class="flaticon flaticon-skyline"></i>
                                    <h5>
                                        <a href="apartment-design.html">Apartment Design</a>
                                    </h5>
                                    <p>Ne vim denique vituperata.</p>
                                </li>
                                <li>
                                    <i class="flaticon flaticon-sketch"></i>
                                    <h5>
                                        <a href="house-planning.html">House Planning</a>
                                    </h5>
                                    <p>Ne vim denique vituperata.</p>
                                </li>
                                <li class="active">
                                    <i class="flaticon flaticon-idea"></i>
                                    <h5>
                                        <a href="repair-welding.html">Repair Welding</a>
                                    </h5>
                                    <p>Ne vim denique vituperata.</p>
                                </li>
                                <li>
                                    <i class="flaticon flaticon-crane"></i>
                                    <h5>
                                        <a href="expert-mechanical.html">Expert Mechanical</a>
                                    </h5>
                                    <p>Ne vim denique vituperata.</p>
                                </li>
                                <li>
                                    <i class="flaticon flaticon-process"></i>
                                    <h5>
                                        <a href="management.html">Management</a>
                                    </h5>
                                    <p>Ne vim denique vituperata.</p>
                                </li>
                                <li>
                                    <i class="flaticon flaticon-process"></i>
                                    <h5>
                                        <a href="general-contracting.html">General Contracting</a>
                                    </h5>
                                    <p>Ne vim denique vituperata.</p>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget widget-link">
                            <h3 class="widget-title">Follow Us</h3>
                            <div class="cmt-social-links-wrapper list-inline">
                                <ul class="social-icons square">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <aside class="widget widget_media_image">
                            <div class="banner-img-box cmt-textcolor-white">
                                <div class="featured-content featured-content-banner">
                                    <div class="featured-desc">
                                        <p>Add Banner</p>
                                    </div>
                                    <div class="featured-title cmt-box-title">
                                        <h5>How to Increase Your Profit in<br><span class="cmt-textcolor-skincolor">1 Month</span></h5>
                                    </div>
                                    <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-25" href="#">Read More</a>
                                </div>
                            </div>
                        </aside>
                    </div> -->
                </div><!-- row end -->
            </div>
        </div>
    </div><!--site-main end-->
